In [5]:
#This code gives breif information for finding latitude and longitude for specific region and also finding distance travelled 

# Import packages   
import pandas as pd  
import numpy as np 
    
# Define a dictionary containing  data
data = {'City': ['Kota, Rajasthan',
               'Hanumangarh, Rajasthan',
               'Delhi NCR',
               'Mumbai, Maharashtra']}  
    
# Convert the dictionary into DataFrame  
df = pd.DataFrame(data)  
    
# Observe the result  
df

                     City
0         Kota, Rajasthan
1  Hanumangarh, Rajasthan
2               Delhi NCR
3     Mumbai, Maharashtra

In [6]:
#using special python libraries for finding location
from geopy.exc import GeocoderTimedOut 
from geopy.geocoders import Nominatim 
   
# declare an empty list to store 
# latitude and longitude of values  
# of city column 
longitude = [] 
latitude = [] 
   
# function to find the coordinate 
# of a given city  
def findGeocode(city): 
       
    # try and catch is used to overcome 
    # the exception thrown by geolocator 
    # using geocodertimedout   
    try: 
          
        # Specify the user_agent as your 
        # app name it should not be none 
        geolocator = Nominatim(user_agent="GPS") 
          
        return geolocator.geocode(city) 
      
    except GeocoderTimedOut: 
          
        return findGeocode(city)     
  
# each value from city column 
# will be fetched and sent to 
# function find_geocode    
for i in (df["City"]): 
      
    if findGeocode(i) != None: 
           
        loc = findGeocode(i) 
          
        # coordinates returned from  
        # function is stored into 
        # two separate list 
        latitude.append(loc.latitude) 
        longitude.append(loc.longitude) 
       
    # if coordinate for a city not 
    # found, insert "NaN" indicating  
    # missing value  
    else: 
        latitude.append(np.nan) 
        longitude.append(np.nan)
        
findGeocode(data)

In [7]:
# now add this column to dataframe 
df["Lon"] = longitude 
df["Lat"] = latitude 
  
df

                     City        Lon        Lat
0         Kota, Rajasthan  76.000893  25.196826
1  Hanumangarh, Rajasthan  74.298364  29.367200
2               Delhi NCR  77.121215  28.688244
3     Mumbai, Maharashtra  72.877393  19.075990

In [8]:
locations = df[['Lat', 'Lon']]
locationlist = locations.values.tolist()
len(locationlist)
locationlist

[[25.1968256, 76.00089330885552],
 [29.367200150000002, 74.29836365065901],
 [28.6882438, 77.1212148],
 [19.0759899, 72.8773928]]

In [8]:
#plotting routes on map

# import gmplot package 
import gmplot 

#latitude_list = [ 30.3358376, 30.307977, 30.3216419 ] 
#longitude_list = [ 77.8701919, 78.048457, 78.0413095 ] 

gmap3 = gmplot.GoogleMapPlotter(df['Lat'][0], 
								df['Lon'][0], 13) 

# scatter method of map object 
# scatter points on the google map 
gmap3.scatter( df['Lat'], df['Lon'], '# FF0000', 
							size = 40, marker = False ) 

# Plot method Draw a line in 
# between given coordinates 
gmap3.plot(df['Lat'], df['Lon'], 
		'cornflowerblue', edge_width = 2.5) 

gmap3.draw( "C:\\Users\\dell\\Desktop\\map13.html" )

C:\Users\dell\Anaconda3\lib\site-packages\gmplot\color.py:194: UserWarning: Color '# FF0000' isn't supported.
  warnings.warn("Color '%s' isn't supported." % color)

In [1]:
#calculating distance using haversine distance
#formula used to calculate distance travelled
def haversine_distance(lat1, lon1, lat2, lon2):
   r = 6371
   phi1 = np.radians(lat1)
   phi2 = np.radians(lat2)
   delta_phi = np.radians(lat2 - lat1)
   delta_lambda = np.radians(lon2 - lon1)
   a = np.sin(delta_phi / 2)**2 + np.cos(phi1) * np.cos(phi2) *   np.sin(delta_lambda / 2)**2
   res = r * (2 * np.arctan2(np.sqrt(a), np.sqrt(1 - a)))
   return np.round(res, 2)

In [10]:
#providing the longitude followed by the latitude of initial location
start_lat, start_lon = 76.000893, 25.189658

In [11]:
#this function will give the distance from the specified initial location
distances_km = []
for row in df.itertuples(index=False):
   distances_km.append(
       haversine_distance(start_lat, start_lon, row.Lat, row.Lon)
   )

distances_km

[6286.64, 5796.78, 5934.55, 6882.93]

In [15]:
df['DistanceFromKOTA'] = distances_km
df

                     City        Lon        Lat  DistanceFromKOTA
0         Kota, Rajasthan  76.000893  25.196826           6286.64
1  Hanumangarh, Rajasthan  74.298364  29.367200           5796.78
2               Delhi NCR  77.121215  28.688244           5934.55
3     Mumbai, Maharashtra  72.877393  19.075990           6882.93